@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
	background-color: #fafafa;
}

a {
	color: #000000;
	text-decoration: none;
}

div {
	font-size: 16px; font-family: 'Nunito Sans', sans-serif;
}

.social-icon {
	display: flex;
	width:15vw;
	height: 15vw;
	justify-content: center;
	align-items: center;
	background-color: #ffc900;
	border-radius: 50%;
}

.social-icon > img {
	width: 45%;
	height: auto;
}

.social-icon > img[src*="facebook"] {
	width: 25%;
}